<article id="zad2">
    <header>
        <h1>Poznaj Allegro</h1>
    </header>
    <hr>
    <section class="pok">
        <h2>ciesz się <span class="blue">zakupami</span></h2>
        <span class="for-h2">my zadbamy o ich bezpieczeństwo</span>
        <figure class="umbrella"></figure>
        <h3>Program Ochrony Kupujących</h3>
        <span class="for-h3">Sprawdź nasz produkt i zobacz jaki jest fajny</span>
        <a href="/" class="button">więcej</a>
    </section>
    <hr>
    <section class="download-app">
        <figure class="touch"></figure>
        <span><strong>pobierz aplikację</strong> Allegro na telefon</span>
        <figure class="mobile"></figure>
    </section>
    <hr>
    <section class="easy-shopping">
        <figure class="shopping"></figure>
        <div class="push2right">
            <span>zobacz, jak łatwe są</span>
            <h4><span class="orange">zakupy na Allegro</span></h4>
            <ul>
                <li>Sprawdź, jak <span class="blue">zarejestrować i aktywować konto</span></li>
                <li>Dowiedz się, jak <span class="blue">kupować przez koszyk</span></li>
                <li>Zobacz, jak rozpoznać oferty z <span class="blue">darmową wysyłką</span></li>
                <li>Kupuj, nawet jeśli <span class="blue">nie masz 18 lat</span></li>
            </ul>
            <figure class="logos"></figure>
        </div>
    </section>
    <section class="addons">
        <div class="push2left standards">
            <h5>kupuj <strong class="yellow">bez obaw</strong></h5>
            <ul>
                <li>Poznaj <span class="blue">Standard Allegro</span> - gwarancję udanych zakupów</li>
                <li>Sprawdź, kiedy możesz odzyskać pieniądze za nieudane zakupy<br>
                    w ramach <span class="blue">Programu Ochrony Kupujących</span></li>
                <li>Zapoznaj się z <span class="blue">zasadami zwrotu towarów</span></li>
                <li>Zobacz, jak <span class="blue">walczymy z podróbkami</span></li>
                <li>Dowiedz się, jak bezpiecznie <span class="blue">kupować i sprzedawać</span> na Allegro</li>
            </ul>
            <figure class="small"></figure>
            <figure class="lock"></figure>
        </div>
        <figure class="spacer"></figure>
        <div class="push2right payments">
            <h5>skorzystaj z <strong class="blue">bezpiecznych płatności</strong></h5>
            <figure class="payu"></figure>
            <ul>
                <li>Zobacz jak szybko i wygodnie <span class="blue">zapłacić za towar</span></li>
                <li>Zrób <span class="blue">zakupy na raty</span> w kilka minut</li>
            </ul>
        </div>
    </section>
    <hr>
    <section class="advert">
        <figure class="cafe"></figure>
        <p><strong><span class="orange">wymieniaj</span> doświadczenia</strong> i poglądy z innymi</p>
    </section>
    <hr>
    <footer>
    <div class="col1 push2left">
        <h6>nowości i komunikaty</h6>
        <ul>
            <li>2012-09-20 <span class="blue">Ikona funkcyjna - Wystaw nową</span></li>
            <li>2012-09-06 <span class="blue">Zmiany w eksporcie do EKN</span></li>
            <li>2012-09-06 <span class="blue">Lorem ipsum dolor sit amet</span></li>
        </ul>
    </div>
    <div class="col2 push2left">
        <h6>samouczki</h6>
        <p>Zpoznaj się z <span class="blue">naszymi instrukcjami,</span><br>
            które pomogą Ci w korzystaniu z Allegro</p>
    </div>
    <div class="col3 push2left">
        <h6>napisz do nas!</h6>
        <p>Nie znalazłeś odpowiedzi w <span class="blue">Pomocy</span>?<br>
            Skontaktuj się z <span class="blue">Działem Obsługi Uzytkownika</span></p>
    </div>
    </footer>
</article>